{% extends 'base.html.twig' %}
{% block body %}
    <h1>Série : {{ program.title }}</h1>
    <h4>Episode {{ episode.number }} de la Saison {{ season.number }}</h4>
    <h5>Titre : {{ episode.title }}</h5>
    <p>Synopsis : {{ episode.synopsis }}</p>
    <a href="{{ path("program_season_show", { program: program.id, season: season.id}) }}">Retour</a>
{% endblock %}