{% extends 'base.html.twig' %}

{% block body %}
    <h1>Saison {{ season.number }} de {{ season.program.title }}</h1>
    <h2>Description : {{ season.description }}</h2>
    <h5>Liste des épisodes </h5>
    <ul>
        {% for episode in season.episodes %}
            <li>
                Episode {{ episode.number }} - {{ episode.title }}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path("program_show", { id: season.program.id}) }}">Retour</a>
{% endblock %}